<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document What</title>
</head>
<body>
    <h1>Some Heared</h1>
    gishe shei slefi<br>
    Hello <%= locals.text || 'Default' %>
</body>
</html>